.row {
	margin-top: 150px;
}
#kategori-navbar {
	margin-left: 1065px;
}
#navbar{
	background-color: #dbe9d8;
}
#tomLogout, #cookieLogout {
	border: 1px solid #f2efe8;
	margin-left: 0.5px;
	position: inline-block;
}
