{% extends "lab_8/layout/base.html" %}
{% block content %}
<section>
  <div class="container">
      <div class="row">
          <div class="col-md-8 col-lg-8">
          </div>
          <div id="theButton"></div>
          <div id="lab8" class="col-md-8 col-lg-8">
            <!-- <button class="login" onclick="facebookLogin()">Login</button> -->
          </div>
      </div>
  </div>
</section>
{% endblock %}
