.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #9fb4f2;
	-webkit-box-shadow:inset 0px 1px 0px 0px #9fb4f2;
	box-shadow:inset 0px 1px 0px 0px #9fb4f2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #3b5898));
	background:-moz-linear-gradient(top, #7892c2 5%, #3b5898 100%);
	background:-webkit-linear-gradient(top, #7892c2 5%, #3b5898 100%);
	background:-o-linear-gradient(top, #7892c2 5%, #3b5898 100%);
	background:-ms-linear-gradient(top, #7892c2 5%, #3b5898 100%);
	background:linear-gradient(to bottom, #7892c2 5%, #3b5898 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#3b5898',GradientType=0);
	background-color:#7892c2;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 14px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3b5898), color-stop(1, #7892c2));
	background:-moz-linear-gradient(top, #3b5898 5%, #7892c2 100%);
	background:-webkit-linear-gradient(top, #3b5898 5%, #7892c2 100%);
	background:-o-linear-gradient(top, #3b5898 5%, #7892c2 100%);
	background:-ms-linear-gradient(top, #3b5898 5%, #7892c2 100%);
	background:linear-gradient(to bottom, #3b5898 5%, #7892c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3b5898', endColorstr='#7892c2',GradientType=0);
	background-color:#3b5898;
}
.myButton:active {
	position:relative;
	top:1px;
}
