{% extends "lab_4/layout/base.html" %}
{% block content %}
<style>
  #foto-misael {
    position:absolute;
    left:70%;
    top:25%;
    width: 210px;
    height: 200px;
    border-radius: 50%;
  }
  .head{
    font-family: 'Convergence', sans-serif;
  }
</style>
<h1>Portofolio</h1>
<hr/>
<section name="bio">
    <img id="foto-misael" src="http://image.ibb.co/cZAX15/profile_pic.jpg" alt="profile_pic" border="0"/>
    <h2 class="head">Bio</h2>
    <p>
        {{content}}
    </p>
</section>
<hr/>
<section name="about_me">
    <h2 class="head">List</h2>
    <ul>
        {% for ii in about_me %}
        <li> {{ ii }} </li>
        {% endfor %}
    </ul>
</section>
<hr/>
<section name="form">
    <h2 class="head">Send Message</h2>
    <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</section>
{% endblock %}
