<!-- templates/lab_5/partials/header.html -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color:#dbe9d8">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand" href="" style="color:white"><img src="fakebook.jpg"></a> -->
      <div id="kategori-navbar">
        <!-- <a class="navbar-brand" href="" style="color:white">Fakebook</a> -->
        <!-- <a class="navbar-brand" id="checkLogout" style="color:white">Logout2</a> -->
        <a href="{% url 'lab-9:auth_logout' %}" class="navbar-brand" id="tomLogout" style="color:white" onclick="return confirm('Keluar?')">
            Logout </a>
        <a href="{% url 'lab-9:cookie_clear' %}" class="navbar-brand" id="cookieLogout" style="color:white"> Logout(C) </a>

        <!-- <button class="navbar-brand" onclick="facebookLogout()" style="background-color:#3b5898; color:white; border-width:0px;">Logout</button> -->
      </div>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav" style="background-color:#f2efe8">
        <!-- LINK MENUJU table, dan link menuju home#form -->
        <!-- <li><a href="{% url 'lab-7:view_friend_list' %}#input-list">Friend List</a></li>
        <li><a href="{% url 'lab-5:index' %}#my-list">My List</a> </li> -->
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
