{% extends "base.html" %}
{% block content %}
<style>
    .center_screen {
        position: absolute;
        width: 800px;
        height: 50px;
        top: 5%;
        left: 55%;
        margin-left: -250px; '/* margin is -0.5 * dimension */
        margin-top: -25px;
    }
    .status{
        font-size: 20px;
        padding: 50px;
        color: white;
    }
    .status2{
      font-size: 60px;
    }
    .status3, .status4{
      font-size: 25px;
      width: 550px;
    }
    .hehe{
      color: rgb(64, 64, 64);
      left: 500%;
    }
    .cat{
      position: absolute;
      top: 650%;
      width: 350px;
      height: 350px;
      left: -45%;
    }
</style>
<div class="center_screen">
  <!-- <img class="hello" src="http://pngimg.com/uploads/hello/hello_PNG44.png"/> -->
  <img class="cat" src="https://openclipart.org/download/215174/1425303484.svg"/>
    <div class="hehe">
        <p class="status" id="test" <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">Hello, this is {{ name }}. {{ content }}.</p>
        <p class="status2" id="test" <link href="https://fonts.googleapis.com/css?family=Capriola" rel="stylesheet">Hello !</p>
        <p class="status3" id="test"> this is {{ name }}.</p>
        <p class="status4" id="test">{{ content }}.</p>
    </div>
    <!-- <div>
      <u1>
        <li class="border">H</li>
        <li class="border">A</li>
        <li class="border">D</li>
      </u1>
  </div> -->
</div>

{% endblock %}
