{% extends "base.html" %}
{% block content %}
<style>
	.combo{
		bottom: 50%;
	}
</style>
<div class="combo">
	<h3 style="text-align: center; margin-top:8rem;">Hi all, This is my complete biodata</h3>
	<table align="center" style="text-align: center">
    	{% for bio in bio_dict %}
        	<tr>
            	<td class="subject">{{ bio.subject }}</td>
            	<td class="value">{{ bio.value }}</td>
        	</tr>
    	{% endfor %}
	</table>
</div>
<br><br>
{% endblock %}
